<h4 class="blog-post-title">Bienvenue sur l'application d'inscription à des rendez-vous</h4>
<hr/>

<div class="table-responsive col-md-3 ">
<div class="panel panel-primary">
  <div class="panel-heading ">Liste des Agendas
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    <br/><span class="input-icon">
                        <input placeholder="Filter les agendas ..." class="nav-search-input" ng-model="filtreAgenda" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:200px	;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <br/><table class="table table-striped">
    <tr ng-show="agendas.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No data found</td></tr>
    <tr ng-hide="agendas.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Loading</td></tr>
    
    <tr ng-repeat="agenda in agendas | filter:filtreAgenda | orderBy:'-id'" id="{{agenda.id}}">
        <td>{{agenda.libAgenda}}</td>  
    </tr>
	
    </table>
</div>
</div>
</div>
<div class="table-responsive col-md-9">
<div class="panel panel-primary">
<div class="panel-heading ">Vos rendez-vous :
</div>
<div class="panel-body">
<table class="table table-striped">
    <tr ng-show="inscriptions.length==0"><td style="vertical-align:middle;"><i class="fa fa-info-circle fa-3x"></i>&nbsp;Veuillez-vous connecter!</td></tr> 
    </table>
	Votre adresse mail :
	 <input name="MAIL" ng-model="personne.mail" type= "text" class= "form-control col-md-8-offset" placeholder="Votre mail ...." required />
	 <button type="button" class="btn btn-danger " ng-click="open();">&nbsp;Connexion</button> 
</div>
</div>
</div>
   