<h4 class="blog-post-title">Bienvenue sur l'application d'inscription à des rendez-vous</h4>
<hr/>
<div class="table-responsive col-md-3 ">
	<div class="panel panel-primary">
		<div class="panel-heading ">Liste des Agendas
			<div class="sw-search" >
				<div class="nav-search" id="nav-search">
                    <br/><span class="input-icon">
                        <input placeholder="Filtrer les agendas ..." class="nav-search-input" ng-model="filtreAgenda.libAgenda" autocomplete="off" type="text" style="width:200px	;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
				</div>
			</div>
		</div>
		<div class="panel-body" ><br/>
			<table class="table table-striped">
				<tr ng-hide="agendas.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Chargement</td></tr>		
				<tr ng-repeat="agenda in agendas | filter:filtreAgenda | orderBy:'libAgenda'">		
					<td ng-click="connexionAgenda(agenda.idAgenda)">{{agenda.libAgenda}}</td>			
				</tr>	
			</table>
			<button type="button" class="btn btn-danger" ng-show="personne.createurAg" ng-click="openA(agendas);">&nbsp;Gestion des Agendas</button> 
		</div>
	</div>
</div>
<div class="table-responsive col-md-9">
	<div class="panel panel-primary">
		<div class="panel-heading ">Vos rendez-vous :</div>

		<div class="panel-body">
			
			<div ng-show="personne.inscriptions.length==0"><i class="fa fa-info-circle fa-3x"></i>&nbsp;Aucun rendez-vous</div>
			<div ng-hide="personne"><i class="fa fa-info-circle fa-3x"></i>&nbsp;Pour s'inscrire à un rendez-vous vous devez vous connecter à l'aide d'un lien sécurisé.</div> 
		
			<form name="connexion_form" class="form-horizontal" role="form" novalidate>
				<div ng-hide="personne">Votre adresse mail :
					<input name="mail" ng-model="mail" type="text" class="form-control col-md-8-offset" placeholder="Votre mail ...." required />
					<button type="button" class="btn btn-danger" ng-hide="personne" ng-click="connexion();">&nbsp;Recevoir mon lien de connexion</button>
					
				</div>
			</form>
			
			<table ng-show="personne" class="col-md-12">
				<tr ng-repeat="inscription in personne.inscriptions">
					<td>- {{inscription.libAgenda}} le {{inscription.DateDebut.substring(0,10)}} de {{inscription.DateDebut.substring(11,16)}} h à {{inscription.DateFin.substring(11,16)}} h</td>  		 	 		 
					<td style="width:100px">
						<div class="btn-group">
							<button type="button" ng-show="personne" class="btn btn-danger fa fa-trash-o" ng-click="deleteInscription(inscription.idRDV);"></button>
						</div>
					</td>		
				</tr>
			</table>
			
		</div>
	</div>
</div>
<button type="button" class="btn btn-danger fa fa-plus" ng-show="personne.admin" ng-click="openC();">&nbsp;Ajouter un créateur</button>
   