<button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
	<div class="panel-heading">
        <h3 class="modal-title">Dupliquer une journée</h3>
	</div>
    <div class="modal-body">
	<form name="Duplication_form" class="form-horizontal" role="form" novalidate>
	<form-element label="Jour à dupliquer :">
    <div class="row">
         <div class="col-md-6">
            <select ng-model="dateChoisi" ng-options="rendezVous.DateDebut for rendezVous in rendez_vous | orderBy:'DateDebut'" ng-change="recupRDV">
			<option value="">-- choisissez une date --</option>		
			</select>
        </div>
	<div class="panel-body" ng-show="recupRDV">
		<table class="table table-striped">
				<tr ng-repeat="rdv in rendezVous.rendez_vous | orderBy:'HeureDebut'">				
					<th>
						{{rdv.HeureDebut.substring(0,5)}}-{{rdv.HeureFin.substring(0,5)}}
					</th>
				</tr>
		</table>
	</div>
	</div>
	</form-element>
	<form-element label="Choix des dates duppliquées">
	<div class="row">
		<div class="col-md-9">
			<multiple-date-picker day-click="recupDate" week-days-off="[0,6]" disable-days-before="today"/>
		</div>
	</div>
	</form-element>	
	</form>
	</div>
	