<h4 class="blog-post-title">{{agenda.libAgenda}} : {{DateDebut}} </h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-reply" ng-click="retourAgenda(idAgenda);">&nbsp;Retour Agenda</button> 
<div class="table-responsive">
	<div class="panel panel-primary">
		<div class="panel-heading">Ouverture des inscriptions : {{agenda.nbJourOuverture}} jours avant la date du rendez-vous
			<br>  
			Dernier délai d'inscription : {{agenda.nbJourLimite}} jours avant la date du rendez-vous </br> 
			Limité à {{agenda.inscriptionMax}} participants maximum par créneau
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<tr ng-repeat="rendezVous in rendez_vous | orderBy:'HeureDebut'">
					<th>
						<button type="button" class="btn btn-danger fa fa-trash-o" ng-show="personne.isGestionnaire(agenda.idAgenda)" ng-click="deleteRDV(rendezVous.idRDV);"></button>
						{{rendezVous.HeureDebut.substring(0,5)}}h-{{rendezVous.HeureFin.substring(0,5)}}h
					</th>
					<td>
						<ul class="list-unstyled">
							<li ng-repeat="inscription in rendezVous.inscriptions" ng-hide="agenda.cacheNom">
                                <button type="button" class="btn btn-danger fa fa-trash-o" ng-show="personne.isGestionnaire(agenda.idAgenda)" ng-click="deleteInscription(inscription.mail,inscription.idRDV);"></button>							
								{{inscription.mail}}			
							</li>
						</ul>
					</td>
					<td>
						<button type="button" class="btn btn-danger fa fa-plus" ng-click="openIns(rendezVous);"></button> 					
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>